/Pizzeria/nbproject/private/
/Tienda/nbproject/private/
/Tienda/dist/
/Tienda/build/
/EvaluacionFormativa/nbproject/private/
/EvaluacionFormativa/build/
/Scol/nbproject/private/
/Scol/build/
/Scol/dist/
/scootin/nbproject/private/
/scootin/build/
/scootin/dist/
/gestionreservas/nbproject/private/
/gestionreservas/dist/
/gestionreservas/build/
/SCE/nbproject/private/
/SCE/build/
/SCE/dist/
/SGE Polimorfismo/nbproject/private/
/SGE Polimorfismo/build/
/SGE Polimorfismo/dist/
/AyudantiaII/nbproject/private/
/AyudantiaII/build/
/AyudantiaII/dist/
/AyudantiaEV2/nbproject/private/
/AyudantiaEV2/build/
/AyudantiaEV2/dist/
/EvaluacionParcial2/nbproject/private/
/EvaluacionParcial2/build/
/EvaluacionParcial2/dist/
/EvaluacionFormativa2/nbproject/private/
/EvaluacionFormativa2/build/
/EvaluacionFormativa2/dist/
/GUI/nbproject/private/
/GUI/dist/
/GUI/build/
/SGT/nbproject/private/
/SGT/build/
/SGT/dist/
/SistemaGestionBiblioteca/nbproject/private/
/SistemaGestionBiblioteca/build/
/SistemaGestionBiblioteca/dist/
