/Pizzeria/nbproject/private/
/Tienda/nbproject/private/
/Tienda/dist/
/Tienda/build/
/EvaluacionFormativa/nbproject/private/
/EvaluacionFormativa/build/
/Scol/nbproject/private/
/Scol/build/
/Scol/dist/
/scootin/nbproject/private/
/scootin/build/
/scootin/dist/
/gestionreservas/nbproject/private/
/gestionreservas/dist/
/gestionreservas/build/
/SCE/nbproject/private/
/SCE/build/
/SCE/dist/
